@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand: #c62828;
  --color-brand-hover: #b71c1c;

  --color-background: #f5f5f5;
  --color-surface: #ffffff;
  --color-surface-secondary: #ececec;

  --color-text: #1f2937;
  --color-text-secondary: #6b7280;
  --color-text-muted: #9ca3af;

  --color-border: #d1d5db;

  --color-metal: #8b9198;
  --color-success: #5fb760;
  --color-warning: #f59e0b;
  --color-error: #dc2626;
  --color-info: #0284c7;
}

.dark {
  --color-brand: #d32f2f;
  --color-brand-hover: #ef5350;

  --color-background: #171717;
  --color-surface: #262626;
  --color-surface-secondary: #303030;

  --color-text: #f5f5f5;
  --color-text-secondary: #d4d4d4;
  --color-text-muted: #9ca3af;

  --color-border: #404040;

  --color-neutral: #737373;

  --color-success: #6fcf70;
  --color-warning: #ffb74d;
  --color-error: #ef5350;
  --color-info: #4fc3f7;
}

* {
  transition:
    background-color 200ms ease,
    color 200ms ease,
    border-color 200ms ease;
}